{% extends "site_app/global/base.html" %}

{% block content %}
<div class="container mt-3" style="max-width: 500px;">
    <div class="card" >
        <div class="card-header bg-primary text-center text-white">
            <p class="h3">
                Criar usuário
            </p>
        </div>
        <form action="{% url 'criar' %}" method="post">
            <div class="card-body form-group text-start">
                {% csrf_token %}
                <label for="nome">Nome:</label>
                <input id="nome" class="form-control mb-2" type="text" name="nome" placeholder="Nome completo" />

                <label for="email">Email:</label>
                <input id="email" class="form-control mb-2" type="text" name="email" placeholder="example@example.com" />

                <label for="outra">Idade:</label>
                <input id="outra" class="form-control" type="number" name="idade" placeholder="Insira a idade" />
                
            </div>
            <div class="mx-3 mb-3 d-grid">
                <button class="btn btn-success" type="submit">Salvar</button>
            </div>
        </form>
    </div>


    {% if nome %}
    <h1> Dados obtidos: </h1>
    <p>{{nome}} {{email}} {{idade}}</p>
    {% endif %}
</div>
{% endblock content %}