<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pesquisar' %}">Pesquisar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'atualizar' %}">Atualizar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'deletar' %}">Deletar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'criar' %}">Criar</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Voltar ao topo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
{% comment %} 
<div class="p-5 mt-4 bg-primary text-white rounded-botton text-center">

    <div class="d-flex justify-content-center">
        <img src="https://placehold.co/100x100" alt="Imagem"
            style="border-radius: 50%; width: 100px; height: 100px;">
    </div>
    <h1>Jumbotron Example</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat..</p>
</div> {% endcomment %}